:root {
  --docs-nav-height: 72px;
  --docs-nav-margin-bottom: 32px;
  --docs-left-sidebar-logo-height: var(--docs-nav-height);
  --docs-sub-nav-height: 52px;
  --docs-left-sidebar-logo-margin-bottom: var(--docs-nav-margin-bottom);
  --docs-left-sidebar-max-width: 240px;
  --docs-right-sidebar-max-width: var(--docs-left-sidebar-max-width);
  --docs-content-max-width: 1140px
}

/*
  DocSearch styles
*/

.DocSearch-Button {
  border-radius: 2px !important;
  background-color: #F6F6F6 !important;
  column-gap: 20px !important;
  margin: 0px !important;
  padding: 0px 12px !important;
} 

@media screen and (min-width: 768px) {
  .DocSearch-Button {
    padding: 0px 16px !important;
  } 
}

span.DocSearch-Button-Keys  {
  min-width: 32px !important;
  border-width: 1px !important;
  border-color: #A5A5A5 !important;
  border-radius: 4px !important;
}

span.DocSearch-Button-Placeholder {
  font-size: 16px !important;
  font-weight: 400;
}

.DocSearch-Search-Icon {
  width: 14px !important;
}

.DocSearch-Button-Container {
  margin: 0 auto 0 0 !important;
}

.DocSearch-Button-Key {
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color: #E4E4E4 !important;
  background: none !important;
  padding: 3px 0 0 0 !important;
  margin: auto 0 !important;
  width: 16px !important;
  font-size: 14px !important;
}

.DocSearch-Hit[aria-selected='true'] a {
  background-color: #02D085 !important;
}

/*
  DocSearch modal search box
*/

.DocSearch-Form {
  border-color: #A5A5A5 !important;
  border-width: 1px;
  box-shadow: none !important;
}

div.DocSearch-Hit-source {
  color: #A5A5A5 !important;
}

.DocSearch-Cancel {
  color: #2B2B2B !important;
}

/*
  DocSearch modal key instruction
*/

.DocSearch-Commands-Key {
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color: #E4E4E4 !important;
  background: none !important;
  padding: 1px 0 0 0 !important;
}

/*
  Because we have sticky header, every time we jump to the anchor link, the header will
  cover the h1~h4 title, we need scroll-margin-top to cope with this issue.
*/

article > h1, h2, h3, h4 {
  scroll-margin-top: 140px;
}

/*
  The style of summary block
*/

article > details {
  padding: 20px 25px;
  background-color: #FAFAFA;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-left: 5px solid #5c5c5c;
}

article > details > summary {
  cursor: pointer;
}

article > details > summary > strong {
  padding-left: 10px;
}

/*
  The style of header-anchor in header
*/

span.heading-anchor-hash {
  transition: color 0.25s, opacity 0.25s;
  margin-left: -2rem;
  margin-right: 0rem;
  opacity: 0;
  color: #8C8A8A;
  float: left;
}

article > h2:hover span.heading-anchor-hash, h3:hover span.heading-anchor-hash, h4:hover span.heading-anchor-hash {
  opacity: 100;
}

.embed-youtube {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .embed-youtube {
    width: 100%;
    height: 450px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.docs-info-block {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  border-left: 5px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.docs-info-block p  {
  margin: 10px 0;
}


.docs-info-block.warning {
  background-color: #FFFCE3;
  border-color: #DEC800;
  color: #735301;
}

.docs-info-block.warning a {
  color: #735301;
}

.docs-info-block.warning code {
  background-color: #FFFCE3;
  border-color: #DEC800;
  color: #735301;
}

.docs-info-block.warning blockquote {
  border-left-color: #DEC800;
  color: #735301;
}

.docs-info-block.warning strong {
  color: #735301;
}

.docs-info-block.tip {
  background-color: #F8F8FF;
  border-color: #0000FF;
  color: #000090;
}

.docs-info-block.tip a {
  color: #000090;
}

.docs-info-block.tip code {
  background-color: #F8F8FF;
  border-color: #0000FF;
  color: #000090;
}

.docs-info-block.tip blockquote {
  border-left-color: #0000FF;
  color: #000090;
}

.docs-info-block.tip strong {
  color: #000090;
}

.docs-info-block.danger {
  background-color: #FFF1F1;
  border-color: #FF5353;
  color: #A40000;
}

.docs-info-block.danger a {
  color: #A40000;
}

.docs-info-block.danger code {
  background-color: #FFF1F1;
  border-color: #FF5353;
  color: #A40000;
}

.docs-info-block.danger blockquote {
  border-left-color: #FF5353;
  color: #A40000;
}

.docs-info-block.danger strong {
  color: #A40000;
}

.docs-info-block.info {
  background-color: #FAFDFF;
  border-color: #40A8F5;
  color: #004477;
}

.docs-info-block.info a {
  color: #004477;
}

.docs-info-block.info code {
  background-color: #FAFDFF;
  border-color: #40A8F5;
  color: #004477;
}

.docs-info-block.info blockquote {
  border-left-color: #40A8F5;
  color: #004477;
}

.docs-info-block.info strong {
  color: #004477;
}

.docs-info-block-header {
  font-size: 16px;
  font-weight: 500;
}

.ch-codeblock ::selection {
  background-color: rgba(64, 168, 245, 0.5);
}

.ch-codegroup ::selection {
  background-color: rgba(64, 168, 245, 0.5);
}