@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .instill-text-h1 {
    @apply font-mono text-[32px] font-semibold leading-[42px] sm:text-[64px] sm:leading-[83px];
  }
  .instill-text-h2 {
    @apply font-mono text-[23px] font-medium leading-[30px] sm:text-[36px] sm:leading-[47px];
  }
  .instill-text-h2-fixed {
    @apply font-mono text-[36px] font-medium leading-[47px];
  }
  .instill-text-h3 {
    @apply font-mono text-lg font-medium leading-[27px] sm:text-2xl sm:leading-[31px];
  }
  .instill-text-h3-light {
    @apply font-mono text-lg font-light leading-[27px] sm:text-2xl sm:leading-[41px];
  }
  .instill-text-body-fixed {
    @apply font-sans text-base font-normal leading-[28px];
  }
  .instill-text-body {
    @apply font-sans text-sm font-normal leading-[24px] sm:text-base sm:leading-[28px];
  }
  .instill-text-small {
    @apply font-mono text-xs font-normal;
  }
  .instill-input-highlight {
    @apply border border-instillGrey70 focus:border-instillBlue focus:outline-none focus:ring-0 focus:ring-white;
  }
}

@font-face {
  font-family: "instill";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/instillFont-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/instillFont-Regular.woff")
      format("woff");
}

.mcnTextContent {
  color: #f6f6f6 !important;
}

h3.null {
  color: #f6f6f6 !important;
}

.mcnTextContent > p,
.mcnTextContent > h3,
.mcnTextContent > h4,
.mcnTextContent > li {
  color: #f6f6f6;
}

.mcnTextContent > ul > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mcnTextContent > ul {
  margin-top: 16px;
  margin-bottom: 16px;
}


/*
  Because we have sticky header, every time we jump to the anchor link, the header will
  cover the h1~h4 title, we need scroll-margin-top to cope with this issue.
*/

article > h1, h2, h3, h4 {
  scroll-margin-top: 140px;
}


/*
  The style of header-anchor in header
*/

a.heading-anchor {
  transition: color 0.25s, opacity 0.25s;
  margin-left: -1.5rem;
  margin-right: 0.5rem;
  opacity: 0;
  color: #1A1A1A;
}

article > h2:hover a.heading-anchor, h3:hover a.heading-anchor, h4:hover a.heading-anchor {
  opacity: 100;
}